on:
  push:
    branches: [ master ]
env:
  AZURE_WEBAPP_NAME: ak-static-app    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'   
jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - run: |
        az webapp up --location westeurope --name ak-static-app --html
